SECRET_KEY=&lmx#ngmhed!#t$olcee^h@x3ixta=&gux+2u+fqqtb2l4mge(
DEBUG=True
ALLOWED_HOSTS="*"
STATIC_URL=/static/
STATIC_ROOT=data/static/
MEDIA_URL=/media/
MEDIA_ROOT=data/media/
INTERNAL_IPS="127.0.0.1"
SITE_URL=http://localhost:8000
EMAIL_URL=dummymail://
DEFAULT_FROM_EMAIL=webmaster@localhost
SERVER_EMAIL=root@localhost
ADMINS=Root User <root@localhost.dev>
OIDC_RP_CLIENT_ID=id
OIDC_RP_CLIENT_SECRET=secret
POSTGRES_USER=myhpi
POSTGRES_PASSWORD=myhpi
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
