SECRET_KEY=&lmx#ngmhed!#t$olcee^h@x3ixta=&gux+2u+fqqtb2l4mge(
DEBUG=True
DJANGO_DEBUG=False
ALLOWED_HOSTS="*"
STATIC_URL=/static/
STATIC_ROOT=data/static/
MEDIA_URL=/media/
MEDIA_ROOT=data/media/
INTERNAL_IPS=["127.0.0.1","localhost"]
SITE_URL=http://localhost:8000
EMAIL_URL=dummymail://
DEFAULT_FROM_EMAIL=webmaster@localhost
SERVER_EMAIL=root@localhost
ADMINS=Root User <root@localhost.dev>
OIDC_RP_CLIENT_ID=id
OIDC_RP_CLIENT_SECRET=secret
POSTGRES_USER=myhpi
POSTGRES_PASSWORD=myhpi
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DEEPL_API_KEY=secret

ENABLE_MAILING_LISTS=False
TENCA_MAILMAN_URL=http://localhost:1234/3.1
TENCA_ADMIN_USER=test
TENCA_ADMIN_PASS=test
TENCA_LIST_HASH_ID_SALT=salt_here
TENCA_DISABLE_GOODBYE_MESSAGES=True
TENCA_DISABLED_NON_MEMBER_ACTION=reject
TENCA_BLOCKED_MEMBER_ACTION=reject
TENCA_RETRY_CANCELS_PENDING_SUBSCRIPTION=True
TENCA_USE_RANDOM_LIST_HASH=False

ANONYMOUS_IP_RANGE_GROUPS="127.0.0.1/32=Moderators,127.0.0.0/8=localhost"
