[tool.poetry]
name = "myHPI"
version = "0.1.0"
description = ""
authors = ["Julian B. <jeriox@users.noreply.github.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
wagtail = "^2.12.3"
django-environ = "^0.4.5"
bleach = "^3.3.0"
Markdown = "^3.3.4"
wagtail-localize = "^0.9.5"
html2text = "^2020.1.16"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
