{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% translate "Access denied" %}
{% endblock %}

{% block body_class %}template-403{% endblock %}

{% block content %}
    <h1>{% translate "Access denied" %}</h1>

    <p>{% translate "Unfortunately you are not allowed to view this page. This might have one of the following reasons:" %}</p>

    <ul class="pb-3">
        <li>{% translate "You are not logged in and are not accessing the page from the university network." %}</li>
        <li>{% translate "You are not logged in and the page is only available for logged in users." %}</li>
        <li>{% translate "You are logged in but don't have the required permissions to access this page." %}</li>
    </ul>
{% endblock %}
