{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_icons %}

{% block title %}
    {% translate "Access denied" %}
{% endblock %}

{% block body_class %}template-403{% endblock %}

{% block content %}
    <h1>{% translate "Access denied" %}</h1>

    <p>
        {% translate "Unfortunately you are not allowed to view this page. This might have one of the following reasons:" %}
    </p>

    <ul class="pb-3">
        <li>
            {% translate "You are not accessing the page from the university network." %}
        </li>
        {% if not user.is_authenticated %}
            <li>
                {% translate "You are not logged in. The page may only be available for logged in users." %}
            </li>
            <br>
            <a id="nav-user-toggle"
                class="btn btn-primary"
                href="{% url 'oidc_authentication_init' %}?next={{ request.path }}">
                <span class="d-none d-md-inline-block">{% translate "Sign in" %}</span>
                {% bs_icon 'box-arrow-in-right' size='1.4em' %}
            </a>
        {% else %}
            <li>
                {% translate "You don't have the required permissions to access this page. Consider contacting the source of the link you were given." %}
            </li>
        {% endif %}
    </ul>
{% endblock %}
