{% load static %}
{% load wagtailcore_tags %}
{% load wagtailuserbar %}
{% load core_extras %}
{% load compile_static %}
{% load bootstrap_icons %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="svg" href="{% static 'img/favicon/favicon.svg' %}" />

    {# Global stylesheets #}
    <link type="text/css" href="{% static "scss/myHPI.scss"|compile %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/myHPI.css' %}">

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<body class="bg-background myhpi-accent {% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    <nav id="navbar" class="navbar-myhpi page d-flex flex-column d-print-none container-lg fixed-top xl-hide-on-scroll">
        <div class="navbar-top bg-white d-flex">
            <div class="page-content d-flex flex-grow-1 flex-xl-grow-0">
                <div id="navbar-left" class="d-flex align-items-center">
                    <a class="nav-brand" href="{% pageurl root_page %}">
                        <img src="{% static 'img/myHPI-Logo.svg' %}" class="h-100" alt="Zur Startseite">
                    </a>
                </div>
                <div id="nav-level-0" class="nav-level"></div>
                <div id="navbar-right" class="flex-fill justify-content-end d-flex align-items-center">
                    <a id="nav-search-button" class="nav-link"
                        onclick="showSearchModal(event)"
                        data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Strg+K"
                        role="button">
                        {% bs_icon 'search' size='1.4em' %}
                    </a>
                    {% if user.is_authenticated %}
                        <a id="nav-user-toggle" class="nav-link" href="#nav-item-container-user"
                            onclick="toggleUserNavbar(event)"
                            role="button"
                            aria-expanded="false" aria-controls="nav-item-container-user">
                            {{ user.first_name }} {{ user.last_name }}
                            {% bs_icon 'person-circle' size='1.4em' %}
                        </a>
                        <a id="nav-mobile-toggle" class="nav-link d-xl-none" href="#nav-item-container-root"
                            onclick="toggleMobileNavbar(event)"
                            role="button"
                            aria-expanded="false" aria-controls="nav-item-container-root">
                            {% bs_icon 'list' size='1.4em' %}
                        </a>
                    {% else %}
                        <a id="nav-user-toggle" class="nav-link" class="dropdown-item" href="{% url 'oidc_authentication_init' %}{% if 'next' in request.GET %}?next={{ request.GET.next }}{% endif %}">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="navbar-bottom d-flex">
            <div class="navbar-bottom-content page-content d-flex flex-column flex-xl-row flex-grow-1 flex-xl-grow-0">
                {% build_nav_level nav_root_pages %}

                <!-- For navbar desktop mode: Wrappers for sub level containers of root level in navbar -->
                <div id="nav-level-1" class="nav-level"></div>
                <div id="nav-level-2" class="nav-level"></div>

                <div id="nav-level-right"
                    class="nav-level d-flex flex-column flex-grow-2 align-items-stretch align-items-xl-end">
                    <ul id="nav-item-container-user" class="nav-item-container collapse"
                        data-navbar-level="#nav-level-0">
                        {% if user.groups.all|length > 0 %}<span class="nav-bar-group-header"><i>Deine Gruppen:</i></span>{% endif %}
                        {% for group in user.groups.all %}
                            <li class="nav-bar-group-item">{{ group }} </li>
                            {% empty %}
                            {% endfor %}
                        <li class="dropdown-divider"></li>
                        <li class="nav-item">
                            <form action="{% url 'oidc_logout' %}" method="post" id="logout-form">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item" href="/">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="navbar-bottom-line"></div>
        </div>
    </nav>

    <div id="page" class="container-lg page bg-white">
        <div class="page-content">
            <div id="messages">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
                {% endfor %}
            </div>

            {% if self.get_ancestors|length > 1 %}
            <nav aria-label="breadcrumb"
                class="d-print-none"
                style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,{% filter urlencode|slice:" 43:" %}{% bs_icon 'chevron-right' size="8" %}{% endfilter %} &#34;);">
                <ol class="breadcrumb">
                    {% for ancestor_page in self.get_ancestors %}
                    {% if ancestor_page.is_root == False %}
                    <li class="breadcrumb-item"><a href="{% pageurl ancestor_page %}">{{ ancestor_page.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                    <li class="breadcrumb-item active" aria-current="page">{{ self.title }}</li>
                </ol>
            </nav>
            {% endif %}

            {% block content %}{% endblock %}
        </div>
    </div>

    <div id="searchModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="searchForm" class="d-flex align-items-center"
                        action="{% url 'search' %}">
                        <input id="searchInput" type="search" class="form-control me-3 " placeholder="Suchen..."
                            aria-label="Suche" name="query">
                        <button type="submit" class="btn btn-primary" aria-label="Suche starten"
                            data-bs-toggle="tooltip" data-bs-placement="bottom"
                            data-bs-title="Enter">{% bs_icon 'search' size='1.4em' extra_classes="text-light" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% insert_footer %}

    {# Global javascript #}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/myHPI.js' %}"></script>

    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
</body>

</html>