{% load static %}
{% load wagtailcore_tags %}
{% load wagtailuserbar %}
{% load core_extras %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/myHPI.css' %}">
    {% compress css %}
    <link type="text/x-scss" href="{% static 'scss/myHPI.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    <nav class="navbar-myhpi-container container-fluid bg-white">
        <div class="navbar-myhpi container-lg page">
            {% with all_pages|all_sub_menu_pages_by_id as sub_pages_by_level_and_id %}
            <div class="navbar-top page-content ">
                <a class="nav-brand" href="{% pageurl root_page %}">
                    <img src="{% static 'img/FSR_DE_color.svg' %}" class="w-100" alt="">
                </a>
                {% build_menu_level sub_pages_by_level_and_id 0 %}
            </div>
            <div class="navbar-bottom page-content">
                {% build_menu_level sub_pages_by_level_and_id 1 %}
                {% build_menu_level sub_pages_by_level_and_id 2 %}
            </div>
            {% endwith %}
        </div>
    </nav>

    <div class="container-lg page">
        <div class="row page-content">
            <div id="messages">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>

    {# Global javascript #}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/myHPI.js' %}"></script>

    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
</body>

</html>