{% load i18n %}
{% load core_extras %}

<footer class="footer-myhpi container-lg page text-light">
  <div class="page-content d-flex flex-wrap flex-column flex-sm-row">
    {% for column in footer_columns %}
    <div class="footer-category">
      {% with column|markdown as parsed_markdown %}
      {{ parsed_markdown.0|tag_external_links }}
      {% endwith %}
    </div>
    {% endfor %}
    <div class="footer-category">
      <h2>{% translate "Language" %}</h2>
        {% for translation in page.get_translations %}
            <a href="{{ translation.url }}">{{ translation.locale }}</a>
        {% endfor %}
    </div>
  </div>
</footer>