{% load static %}
{% load wagtailcore_tags %}
{% load core_extras %}
{% load bootstrap_icons %}

<div class="nav-level nav-level-{{ level }}">
    {% for page_id, sub_pages in sub_pages_by_id.items %}
    {% if level > 0 %}
    <div id="nav-item-container-{{ page_id }}"
        class="nav-item-container collapse"
        aria-labelledby="nav-item-{{ page.id }}"
        data-bs-parent=".nav-level-{{ level }}">
        {% else %}
        <div id="nav-item-container-{{ page_id }}"
            class="nav-item-container nav-item-container-root">
            {% endif %}
            {% for page in sub_pages %}
            {% if page|sub_menu_pages %}
            <div class="nav-item dropdown">
                <a class="nav-link"
                    id="nav-item-{{ page.id }}"
                    href="#nav-item-container-{{ page.id }}"
                    data-bs-toggle="collapse"
                    aria-controls="nav-item-container-{{ page.id }}"
                    aria-expanded="false">
                    {% if level > 0 %}
                    <span class="nav-link-title">
                        {{ page.title }}
                    </span>
                    {% bs_icon 'arrow-right-short' size="auto" extra_classes="nav-link-icon" %}
                    {% else %}
                    <span class="dropdown-toggle">
                        {{ page.title }}
                    </span>
                    {% endif %}
                </a>
            </div>
            {% else %}
            <div class="nav-item">
                <a class="nav-link" href="{% pageurl page %}">
                    {{ page.title }}
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>