{% extends "base.html" %}
{% load core_extras %}

{% block content %}
    <div class="row">
        {% with page.description|markdown as parsed_md %}
        <div class="col-9">
            <h1> {{ page.title }} </h1>
            {{ parsed_md.0 }}
            <h2> {{ page.question }} </h2>
            {% if can_vote %}
                {% include "polls/vote.html" %}
            {% elif page.results_visible %}
                {% include "polls/results.html" %}
            {% else %}
                <p> You already voted and the results are not visible yet. </p>
            {% endif %}
        </div>
        <div class="col-3">
            <h4>Start Date</h4>
            <p>{{ page.start_date }}</p>
            <h4>End Date</h4>
            <p>{{ page.end_date }}</p>
            <h4>Number of participants</h4>
            <p>{{ page.participants.count }}</p>
            <h4>Number of votes</h4>
            <p>{{ page.num_votes }}</p>
            <h4>Table of contents</h4>
            {{ parsed_md.1 }}
        </div>
        {% endwith %}
    </div>
{% endblock %}