{% extends "base.html" %}
{% load i18n %}
{% load wagtailcore_tags %}

{% block content %}
    <h1 class="page-title">
        <span class="underline">{{ page.title }}</span>
    </h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% translate "Title" %}</th>
                <th>{% translate "Voting period" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for poll in poll_list %}
                <tr>
                    <td>
                        <a href="{% pageurl poll %}">{{ poll.title }}</a>
                    </td>
                    <td>{{ poll.start_date }} - {{ poll.end_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
