/**
Notice the myHPI.scss in static/scss/myHPI.scss
**/

.page {
    max-width: 1200px !important;
    margin: auto;
}

.page-content {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.navbar-myhpi {
    display: flex;
    flex-direction: column;
}

.navbar-top,
.navbar-bottom {
    display: flex;
}

.navbar-bottom {
    background-color: var(--bs-gray-light);
}

.nav-brand {
    display: inline-block;
    width: 4rem;
    margin: 1rem;
    margin-left: 0;
}

.nav-level-0 {
    grid-area: menu-level-0;
    background-color: var(--bs-white);
    display: flex;
    align-items: center;
}

.nav-level-1 {
    /* equals .nav-brand width + margin,
       minus the .nav-item border-width */
    margin-left: calc(5rem - 3px);
}

.nav-level-1,
.nav-level-2 {
    width: 20rem;
}

.nav-item-container {
    display: flex;
}

.nav-level-1 .nav-item-container,
.nav-level-2 .nav-item-container {
    flex-direction: column;
}

nav .nav-link,
nav .nav-link:focus {
    color: var(--bs-gray-700);
}

nav .nav-link:hover,
nav .nav-link:focus-visible,
nav .nav-link[aria-expanded=true] {
    color: var(--bs-dark);
}

.page:not(.navbar-myhpi) .page-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1::after,
.nav-item-container-root .nav-link::after {
    display: block;
    content: '';
    background: linear-gradient(to right, var(--bs-secondary), var(--bs-primary));
    transition: transform 0.25s;
    transform-origin: 0% 50%;
    border-radius: var(--myhpi-round-border);
}

h1::after {
    margin: 1rem 0;
    height: 5px;
    width: 5rem;
    border-radius: var(--myhpi-round-border);
}

.toc-container {
    position: sticky;
    box-shadow: 0 0 5px var(--bs-gray-light);
    padding: 0.7rem 1rem;
    border-radius: 5px;
}

.toc-title {
    font-size: 1.05rem;
    line-height: 1.1;
    font-weight: bold;
}

h1.toc-title::after {
    margin: 0.5rem 0;
    height: 3px;
}

/* TODO: Page Title vs normal <h1> */