/**
Notice the myHPI.scss in static/scss/myHPI.scss
**/

body {
    padding-top: 1rem;
}

a {
    text-decoration: none;
}

.container-lg.page {
    padding: 0 !important;
}

.page {
    margin: auto;
}

.page-content {
    width: 1000px;
    margin: auto;
}

.navbar-myhpi {
    position: sticky;
    z-index: 999;
    top: 0;
    display: flex;
    flex-direction: column;
}

.navbar-myhpi::before {
    display: inline-block;
    content: '';
    height: 0.5rem;
    border-top-left-radius: var(--myhpi-round-border);
    border-top-right-radius: var(--myhpi-round-border);
}

.myhpi-accent-yellow .navbar-myhpi::before,
.myhpi-accent-yellow .bg-accent {
    background-color: var(--bs-secondary);
}

.myhpi-accent-yellow .border-accent {
    border-color: var(--bs-secondary);
}

.myhpi-accent-yellow .breadcrumb .active {
    color: var(--bs-secondary);
}

.navbar-top,
.navbar-bottom {
    display: flex;
}

.navbar-top {
    border-bottom: solid 2px var(--bs-border);
    z-index: 1;
}

.navbar-bottom {
    overflow: hidden;
    background-color: var(--bs-body-bg-light);
}

.navbar-bottom-content .nav-item-container {
    margin-bottom: 3px;
}

.navbar-bottom-line {
    position: absolute;
    width: 100%;
    border-bottom: solid 3px var(--bs-border);
    bottom: 0px;
}

.nav-brand {
    display: inline-block;
    width: 4rem;
    margin: 1rem;
    margin-left: 0;
}

.nav-level-0 {
    grid-area: menu-level-0;
    background-color: var(--bs-white);
    display: flex;
    align-items: center;
}

.nav-level-1 {
    /* equals .nav-brand width + margin,
       minus the .nav-item border-width */
    margin-left: calc(5rem - 3px);
}

.nav-level-1,
.nav-level-2 {
    width: 20rem;
}

.nav-item-container {
    display: flex;
}

.nav-level-1 .nav-item-container,
.nav-level-2 .nav-item-container {
    flex-direction: column;
}

nav .nav-link,
nav .nav-link:focus {
    color: var(--bs-gray-700);
}

nav .nav-link:hover,
nav .nav-link:focus-visible,
nav .nav-link[aria-expanded=true] {
    color: var(--bs-dark);
}

.page:not(.navbar-myhpi) .page-content {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.page-title .underline {
    border-bottom: solid 5px var(--bs-secondary);
}

.page-title {
    display: inline-block;
    font-weight: 600;
    margin-bottom: 2.3rem;
}

.nav-item-container-root .nav-link::after {
    display: block;
    content: '';
    background: var(--bs-secondary);
    transition: transform 0.25s;
    transform-origin: 0% 50%;
    border-radius: var(--myhpi-round-border);
}

.page-title::after {
    margin-top: 0;
    margin-bottom: 1rem;
    height: 5px;
    width: 14.5rem;
    border-radius: 0;
}

.breadcrumb {
    margin-bottom: 1.5rem;
}

.breadcrumb,
.breadcrumb a,
.breadcrumb a:hover {
    font-size: 0.8rem;
    color: var(--bs-text-muted);
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.side-panel-container {
    position: sticky;
    top: 6rem;
}

.side-panel {
    border-top: solid 5px;
    padding: 0.7rem 1rem;
}

.side-panel:not(:first-of-type) {
    border-top: solid 2px var(--bs-border);
}

.toc-container ul {
    list-style: none;
    padding: 0;
}

.toc-container ul li>ul {
    margin-left: 0.5rem;
}

.toc-title {
    font-size: 1.05rem;
    line-height: 1.1;
    font-weight: 600;
}

h1.toc-title::after {
    margin: 0;
    height: 0px;
}

@media print {
    .toc {
        display: none;
    }

    .minutes-container {
        display: flex;
        flex-direction: column;
    }

    .minutes-title {
        order: 0
    }

    .minutes-meta {
        order: 1;
    }

    .minutes-text {
        order: 2;
    }
}
