{% extends "base.html" %}
{% load wagtailmarkdown %}

{% block content %}
    <div class="row">
        {% with page.text|markdown as parsed_md %}
        <div class="col-9">
            {{ parsed_md.0 }}
        </div>
        <div class="col-3">
            <h4>Date</h4>
            <p>{{ page.date }}</p>
            <h4>Moderator</h4>
            <p>{{ page.moderator.get_full_name }}</p>
            <h4>Minutes taker</h4>
            <p>{{ page.author.get_full_name }}</p>
            <h4>Participants</h4>
            <ul>
                {% for participant in page.participants.all %}
                    <li>{{ participant.get_full_name }}</li>
                {% endfor %}
            </ul>
            <h4>Table of contents</h4>
            {{ parsed_md.1 }}
        </div>
        {% endwith %}
    </div>
{% endblock %}