{% extends "base.html" %}
{% load wagtailmarkdown %}

{% block content %}
{% with page.body|markdown as parsed_md %}
<div class="row">
    <div class="col-9">
        <h1 class="page-title">
            <span class="underline">
                {{ page.title }}
            </span>
        </h1>
        {{ parsed_md.0 }}
    </div>
    <div class="col-3">
        <div class="side-panel-container">
            <aside class="side-panel border-accent">
                <h1 class="toc-title">Zuletzt bearbeitet</h1>
                {{ page.last_published_at|date:"d.m.Y, H:i" }}
            </aside>
            <aside class="side-panel border-accent toc-container d-print-none">
                <h1 class="toc-title">Inhaltsverzeichnis</h1>
                {{ parsed_md.1 }}
            </aside>
        </div>
    </div>
</div>
{% endwith %}
{% endblock %}