{% extends "base.html" %}
{% load static %}
{% load core_extras %}
{% load minutes_tags %}
{% load bootstrap_icons %}
{% load i18n %}

{% block content %}
<div class="row minutes-container">
    {% with page.body|markdown as parsed_md %}
    <div class="d-none d-print-block minutes-title">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="col-9 minutes-text">
        {{ parsed_md.0 }}
    </div>
    <div class="col-3 minutes-meta">
        <h4>{% translate "Date" %}</h4>
        <p>{{ page.date }}</p>
        <h4>{% translate "Moderator" %}</h4>
        <p>{{ page.moderator.get_full_name }}</p>
        <h4>{% translate "Minutes taker" %}</h4>
        <p>{{ page.author.get_full_name }}</p>
        <h4>{% translate "Participants" %}</h4>
        <ul>
            {% for participant in page.participants.all %}
            <li>{{ participant.get_full_name }}</li>
            {% endfor %}
        </ul>
        <h4>{% translate "Guests" %}</h4>
        {% if page.guests %}
        <ul>
            {% for guest in page.guests %}
            <li>{{ guest }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <i>{% translate "No guests" %}</i>
        {% endif %}
        <h4>{% translate "Labels" %}</h4>
        {% if page.labels.all %}
        <p>
            {% include "core/label.html" with minutes=page %}
        </p>
        {% else %}
        <i>{% translate "No labels"%}</i>
        {% endif %}
        <h4 class="d-print-none">{% translate "Table of contents" %}</h4>
        {{ parsed_md.1 }}
        {% if page.attachments.all %}
        <h4 class="d-print-none">{% translate "Attachments" %}</h4>
        <ul>
            {% for attachment in page.attachments.all %}
            <li>
                <a href="{{ attachment.url }}">{{ attachment.title }}</a>
            </li>
            {% endfor %}
        </ul>
        </aside>
        {% endif %}
    </div>
    <div id="minutes-footer" class="d-none d-print-block">
    </div>
    <div id="minutes-navigation" class="row d-print-none">
        <div class="col-6">
            {% prev_minutes page as prev %}
            {% if prev %}
            <a href="{{ prev.url }}">
                < {% translate "Previous minutes" %}</a>
                    {% endif %}
        </div>
        <div class="col-6">
            {% next_minutes page as next %}
            {% if next %}
            <a href="{{ next.url }}"> {% translate "Next minutes" %} ></a>
            {% endif %}
        </div>
        {% endwith %}
    </div>
    {% endwith %}
</div>
{% block extra_js %}
<script type="text/javascript" src="{% static 'js/print_processor.js' %}"></script>
{% endblock %}
{% endblock %}