{% load core_extras %}
{% load i18n %}

{% if perms.wagtail.edit_page %}
    {% if page.has_unpublished_changes %}
    <aside class="side-panel border-accent toc-container d-print-none">
        <h1 class="side-panel-warning">{% translate "Page has unpublished changes!" %}</h1>
    </aside>
    {% endif %}
    {% with page.visible_for.all|join:", " as visibility %}
        {% if visibility %}
            <aside class="side-panel border-accent toc-container d-print-none">
                <h1 class="side-panel-title">{% translate "Visibility" %}</h1>
                {{ visibility }}
            </aside>
        {% endif %}
    {% endwith %}
{% endif %}
{% with parsed_md.1 as toc %}
    {% if toc|non_empty %}
        <aside class="side-panel border-accent toc-container d-print-none">
            <h1 class="side-panel-title">{% translate "Table of contents" %}</h1>
            {{ toc }}
        </aside>
    {% endif %}
{% endwith %}

{% if page.attachments.all %}
    <aside class="side-panel border-accent toc-container d-print-none">
        <h1 class="side-panel-title">{% translate "Attachments" %}</h1>
        <ul>
        {% for attachment in page.attachments.all %}
            <li>
                <a href="{{ attachment.url }}">{{ attachment.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </aside>
{% endif %}