{% load core_extras %}
{% load i18n %}

{% if perms.wagtail.edit_page %}
    {% if page.has_unpublished_changes %}
    <aside class="side-panel border-accent toc-container d-print-none">
        <h1 class="side-panel-warning">{% translate "Page has unpublished changes!" %}</h1>
    </aside>
    {% endif %}
    <aside class="side-panel border-accent toc-container d-print-none">
        <h1 class="side-panel-title">{% translate "Visibility" %}</h1>
        {{ page.visible_for.all|join:", " }}
    </aside>
{% endif %}
<aside class="side-panel border-accent toc-container d-print-none">
    <h1 class="side-panel-title">{% translate "Table of contents" %}</h1>
    {{ parsed_md.1 }}
</aside>
{% if page.attachments.all %}
    <aside class="side-panel border-accent toc-container d-print-none">
        <h1 class="side-panel-title">{% translate "Attachments" %}</h1>
        <ul>
        {% for attachment in page.attachments.all %}
            <li>
                <a href="{{ attachment.url }}">{{ attachment.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </aside>
{% endif %}