<!-- usage requires Table of Contents HTML in include context: https://docs.djangoproject.com/en/5.0/ref/templates/builtins/#include -->

{% load core_extras %}
{% load i18n %}
{% load bootstrap_icons %}

{%if toc|hasTocContent %}
    <div id="sidebar-toggle" class="d-grid d-lg-none d-print-none">
        <button type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar-offcanvas"
            aria-controls="sidebar-offcanvas" class="btn btn-light mb-3" aria-label="{% translate 'Table of contents' %}">
            {% bs_icon 'list-ol' size='1.3rem' %}
            {% translate "Table of contents" %}
        </button>
    </div>
{% endif %}