{% load i18n %}

<div class="row justify-content-between">
    <div class="col-auto">
        <h2><span class="underline">{{ post.title }}</span></h2>
        <span>{{ post.date }}</span>
    </div>
    <div class="col-auto">
        {% if post.author %}
            <div class="d-flex justify-content-end">
                <img src="{{ post.image_url }}" class="rounded-circle" width="50" height="50" alt="Newsfeed poster icon">
            </div>
            <p class="lead">{% trans "by" %} {{ post.author }}</p>
        {% endif %}
        <div class="d-flex justify-content-end text-muted"> </div>
    </div>
</div>