{% load i18n %}

<div class="row justify-content-between">
    <div class="col-auto">
        <h2 style="min-height: 50px"><span class="underline">{{ post.title }}</span></h2>
    </div>
    <div class="col-auto">
        {% if post.author %}
            <div class="d-flex justify-content-end">
                <img src="{{ post.image_url }}" class="rounded-circle" width="50" height="50" alt="Newsfeed poster icon">
            </div>
        {% endif %}
    </div>
</div>
<div class="row justify-content-between">
    <div class="col-auto">
        <span>{{ post.date }}</span>
    </div>
    <div class="col-auto">
        {% if post.author %}
        <span>{% trans "by" %} {{ post.author }}</span>
        {% endif %}
    </div>
</div>
