{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Report Action" %}
{% endblock %}

{% block breadcrumbs %}
    {% if request.user.is_authenticated %}
        <li>
            <a href="{% url "tenca_django:tenca_dashboard" %}">{% trans "Mailing Lists" %}</a>
        </li>
        <li>{% trans "Report Action" %}</li>
    {% endif %}
{% endblock %}

{% block content %}
    <p>
        {% trans "Sorry for this inconvenience. Please contact the Student Representative Group if this should happen more often." %}
    </p>
{% endblock %}
