.footer-myhpi {
    background-color: var(--bs-gray-700);

    .page-content {
        padding-top: 1.5rem;
        padding-bottom: 0.9rem;
    }
}

.footer-category {
    ul {
        list-style: none;
        padding: 0;
    }

    h2 {
        font-weight: 700;
        font-size: 1rem;
    }

    a {
        color: var(--bs-text-light);

        &:hover {
            text-decoration: underline;
        }
    }
}

@media screen and (min-width: 576px) {
    .footer-category:not(:last-child) {
        margin-right: 5rem;
    }
}

@media print {
    .footer-myhpi {
        display: none;
    }
}
