// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "./bootstrap/functions";

// 2. Include any default variable overrides here
$primary: #F5631E;
$secondary: #F5631E;
$body-bg: #F5F5F5;

// 3. Include remainder of required Bootstrap stylesheets
@import "./bootstrap/variables";
@import "./bootstrap/mixins";

$custom-colors: (
    "gray-700": $gray-700,
    "text-muted": $text-muted,
    "border": #EEE,
    "border-dark": #B2B2B2,
    "body-bg-light": #FBFBFB,
    "body-bg-overlay": #EEE
);
$colors: map-merge($colors, $custom-colors);

@import "./bootstrap/root";

// 4. Include any optional Bootstrap CSS as needed
@import "./bootstrap/utilities";
@import "./bootstrap/reboot";
@import "./bootstrap/type";
@import "./bootstrap/images";
@import "./bootstrap/containers";
@import "./bootstrap/grid";

@import "./bootstrap/tables";
@import "./bootstrap/forms";
@import "./bootstrap/buttons";
@import "./bootstrap/transitions";
@import "./bootstrap/dropdown";
@import "./bootstrap/button-group";
@import "./bootstrap/nav";
@import "./bootstrap/navbar";
@import "./bootstrap/card";
@import "./bootstrap/accordion";
@import "./bootstrap/breadcrumb";
@import "./bootstrap/pagination";
@import "./bootstrap/badge";
@import "./bootstrap/alert";
@import "./bootstrap/progress";
@import "./bootstrap/list-group";
@import "./bootstrap/close";
@import "./bootstrap/toasts";
@import "./bootstrap/modal";
@import "./bootstrap/tooltip";
@import "./bootstrap/popover";
@import "./bootstrap/carousel";
@import "./bootstrap/spinners";
@import "./bootstrap/offcanvas";

@import "./bootstrap/helpers";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "./bootstrap/utilities/api";

// 6. Add additional custom code here

:root {
    --bs-p-2: 0.5rem;
    --bs-p-4: 1rem;
    --myhpi-round-border: 2px;
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
}

.page {
    margin: auto;
}

.container-lg.page {
    padding: 0;
}

.page-content {
    padding-left: 2rem;
    padding-right: 2rem;
}

.page-title .underline {
    border-bottom: solid 5px var(--bs-secondary);
}

.page-title {
    display: inline-block;
    font-weight: 600;
    margin-bottom: 2.3rem;

    &:after {
        margin-top: 0;
        margin-bottom: 1rem;
        height: 5px;
        width: 14.5rem;
        border-radius: 0;
    }
}

.label-badge {
    background-color: var(--bs-secondary);
}


.breadcrumb {
    margin-bottom: 1.5rem;

    a,
    a:hover {
        font-size: 0.8rem;
        color: var(--bs-text-muted);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

.side-panel-container {
    position: sticky;
    top: 6rem;
}

.side-panel {
    border-top: solid 5px;
    padding: 0.7rem 1rem;
}

.side-panel:not(:first-of-type) {
    border-top: solid 2px var(--bs-border);
}

.toc-container ul {
    list-style: none;
    padding: 0;
}

.toc-container ul li>ul {
    margin-left: 0.5rem;
}

.toc-title {
    font-size: 1.05rem;
    line-height: 1.1;
    font-weight: 600;
}

h1.toc-title::after {
    margin: 0;
    height: 0px;
}

.myhpi-accent .navbar-myhpi::before,
.myhpi-accent .bg-accent {
    background-color: var(--bs-secondary);
}

.myhpi-accent .border-accent {
    border-color: var(--bs-secondary);
}

.myhpi-accent .breadcrumb .active {
    color: var(--bs-secondary);
}

.link.external {
    .icon {
        margin-top: -0.25rem;
    }
}

@import "./navbar.scss";
@import "./footer.scss";

@media screen and (max-width: 1200px) {
    .xl-hide-on-scroll {
        transition: top 0.3s, opacity 0.3s, transform 0.3s ease;
        opacity: 1;
    }

    .xl-hide-on-scroll.hide-now {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@media screen and (min-width: 1200px) {
    body {
        padding-top: 1rem;
    }

    .page-content {
        padding-left: 0;
        padding-right: 0;
        width: 1000px;
        margin: auto;
    }

    .page:not(.navbar-myhpi) .page-content {
        padding-top: 1.5rem; // default padding without height of navbar
    }
}

@media print {
    .toc {
        display: none;
    }

    .minutes-container {
        display: flex;
        flex-direction: column;
    }

    .minutes-title {
        order: 0
    }

    .minutes-meta {
        order: 1;
    }

    .minutes-text {
        order: 2;
    }

    #minutes-footer {
        margin-top: 50px;
        order: 3;
    }
}