.navbar-myhpi {
    z-index: 999;

    &:before {
        display: inline-block;
        content: '';
        height: 0.5rem;
    }
}

.nav-link,
.nav-link:focus {
    color: var(--bs-gray-700);
}

.nav-link:hover,
.nav-link:focus-visible,
.nav-link[aria-expanded=true] {
    color: var(--bs-dark);
}

.nav-item-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-top {
    border-bottom: solid 2px var(--bs-border);
    z-index: 1;

    .nav-level {
        align-items: center;
    }

    .nav-link {
        margin-bottom: -3px;

        &:after {
            display: block;
            content: '';
            height: 3px;
            width: 100%;
            background: var(--bs-secondary);
            transform: scaleX(0);
            transition: transform 0.25s;
            transform-origin: 0% 50%;
            border-radius: var(--myhpi-round-border);
        }
    }

    .nav-link:hover:after,
    .nav-link:focus-visible:after,
    .nav-link[aria-expanded=true]:after {
        transform: scaleX(1);
    }
}

.navbar-bottom-line {
    position: absolute;
    width: 100%;
    border-bottom: solid 3px var(--bs-border);
    bottom: 0px;
}

.nav-brand {
    display: inline-block;
    height: 2rem;
    margin: 1rem 1rem 1rem 0;
    transform: translateY(7%);
}

.nav-link-extra-indent {
    padding-top: var(--bs-p2);
    padding-left: calc(var(--bs-p-4) * 2);
}

.navbar-bottom {
    background-color: var(--bs-body-bg-light);

    .nav-item-container {
        padding-left: var(--bs-p-4);
        row-gap: 1px;
        margin-bottom: 3px;
    }

    #nav-item-container-root,
    #nav-level-right .nav-item-container {
        padding-left: 0;
        max-height: 85vh;
    }

    #nav-item-container-root.show {
        overflow-y: auto;
    }

    .nav-link {
        transition: all 0.25s;
        border-radius: var(--myhpi-round-border);
        border: solid 2px var(--bs-body-bg-light);
    }

    .nav-link:hover,
    .nav-link:focus-visible,
    .nav-link:active {
        border-color: var(--bs-body-bg-overlay);
        background-color: var(--bs-body-bg-overlay);
    }

    .nav-link[aria-expanded=true] {
        border-color: var(--bs-border-dark);
        background-color: var(--bs-body-bg-overlay);
    }

    .nav-item:first-child {
        padding-top: var(--bs-p-2);
    }

    .nav-item:last-child {
        padding-bottom: var(--bs-p-2);
    }

    .nav-item.dropdown {
        .nav-link {
            display: flex;
        }

        .nav-link * {
            transition: all 0.25s;
            flex-grow: 0;
        }

        .nav-link-title::after {
            display: none;
        }

        .nav-link-icon {
            width: 1rem;
            height: auto;
            display: block !important;
            margin-left: 0.1rem;
            transform: translateY(2px);
        }

        .nav-link:hover,
        .nav-link:focus-visible,
        .nav-link[aria-expanded=true] {
            .nav-link-title {
                flex-grow: 1;
            }

            .nav-link-icon {
                transform: translateY(0px);
            }
        }

        .nav-link[aria-expanded=true] .nav-link-icon {
            transition: transform 0.4s;
            transform: rotateZ(90deg);
        }
    }
}

@media screen and (min-width: 1200px) {
    .navbar-myhpi::before {
        border-top-left-radius: var(--myhpi-round-border);
        border-top-right-radius: var(--myhpi-round-border);
    }

    #nav-level-0 {
        display: flex;
    }

    #nav-level-1 {
        /* equals .nav-brand width + margin,
      minus the .nav-item border-width */
        margin-left: calc(5rem - 3px);
    }

    .navbar-bottom {
        max-height: 70vh;
        overflow-y: auto;

        .nav-level {
            width: 20rem;
        }

        #nav-level-right .nav-item-container {
            width: 18rem;
        }

        .nav-item-container {
            padding-left: 0;
            padding-right: var(--bs-p-2);
        }

        #nav-level-right .nav-item-container {
            padding-right: 0;
        }

        .nav-link[aria-expanded=true] .nav-link-icon {
            transition: transform 0.25s !important;
            transform: rotateZ(180deg) !important;
        }
    }
}

.no-hover {
    pointer-events: none;
}