name: build-container

on:
  push:
    branches:
      - 'docker-image-workflow-fix'
    tags:
      - 'v*'

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    if: ${{ github.triggering_actor != 'dependabot[bot]' }}
    steps:
      - name: Checkout # Checkout the repository to allow for dynamic versioning
        uses: actions/checkout@v4


      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/fsr-de/myhpi

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
